html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: Bradley Hand, cursive;
}

h2{
    font-size:inherit;
}

.app-container {
    max-width: 80%;
}

.nav-bg {
    content: '';
    position: absolute;
    display: block;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(50, 50, 50);
    transition: .45s ease-in-out;
}

.bg-hidden {
    top: -100%;
    opacity: 0;
}

.bg-visible {
    top: 0;
    opacity: 1;
}


.hero {
    position: relative;
    width: 100%;
    height: 20vw;
    background: rgb(50, 50, 50);
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    overflow: hidden;
}

@media(max-width:1200px){
    .hero{
        height:35vw;
    }
}

.hero h1 {
    text-shadow: 1px 0 10px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: .3em;
    font-weight: lighter;
}
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
    color: #4f4f4f;
}

    .navbar-scroll .nav-link:hover {
        color: #1266f1;
    }

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
    color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
    background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    font-family: Bradley Hand, cursive;
}

.image-container {
    position: relative;
    margin-bottom: 2%;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.info-box-right {
    position: absolute;
    opacity: 0;
    top: 5%;
    right: 0;
    width: 40%;
    height: 100%;
    font-size: 250%;
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
    z-index: 0;
}

.info-box-bottom {
    position: absolute;
    opacity: 0;
    top: 90%;
    right: 0;
    width: 70%;
    height: 10%;
    font-size:150%;
    transition: all 0.5s ease-in-out;
    z-index: 0;
}

.info-box-description {
    position: absolute;
    opacity: 0;
    top: 70%;
    right: -2%;
    width: 90%;
    height: 10%;
    font-size:100%;
    transform: translateX(0 %);
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
@media(min-width:1800px) {

    .info-box-right {
        font-size: 300%;
    }

    .info-box-bottom {
        font-size: 150%;
    }

    .info-box-description {
        font-size: 125%;
    }
}
@media(max-width:1800px) {

    .info-box-right {
        font-size: 200%;
    }

    .info-box-bottom {
        font-size: 100%;
    }

    .info-box-description {
        font-size: 75%;
    }
}
@media(max-width:1200px) {

    .info-box-right {
        font-size: 200%;
    }

    .info-box-bottom {
        font-size: 75%;
    }

    .info-box-description {
        font-size: 75%;
    }
}
@media(max-width:900px) {

    .info-box-right {
        font-size: 100%;
    }

    .info-box-bottom {
        font-size: 50%;
    }

    .info-box-description {
        font-size: 50%;
    }
}
@media(max-width:700px) {

    .info-box-right {
        font-size: 75%;
    }

    .info-box-bottom {
        font-size: 35%;
    }

    .info-box-description {
        font-size: 35%;
    }
}
@media(max-width:500px) {

    .info-box-right {
        font-size: 75%;
    }

    .info-box-bottom {
        font-size: 30%;
    }

    .info-box-description {
        font-size: 30%;
    }
}
.image-container:hover .info-box-description {
    transform: translateX(-10%);
    opacity: 1;
}

.image-container:hover .info-box-right {
    transform: translateX(-140%);
    opacity:1;
}
.image-container:hover .info-box-bottom {
    transform: translateX(-40%);
    opacity: 1;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.image-container:hover img {
    opacity: 0.45;
}

    
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.btn-delete {
    border-radius: 20%;
    background-color: #dc3545;
    color: #fff;
    margin: 1px;
}

.star {
    cursor: pointer;
    color: gray;
}

    .star.hovered,
    .star.selected {
        color: yellow;
    }

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

    .pagination li {
        margin: 0 4px;
    }

    .pagination a,
    .pagination span {
        padding: 6px 10px;
        border: 1px solid #ccc;
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }

        .pagination a:hover {
            background-color: #f0f0f0;
        }

    .pagination .disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    .pagination .active {
        background-color: #007bff;
        color: #fff;
    }

    .pagination .disabled:hover {
        background-color: transparent;
    }