@model Diploma.Application.CQRS.Commands.Order.CreateOrder.CreateOrderCommand;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.LabelFor(m => m.Description, "")
    @Html.TextBoxFor(m => m.Description, new {@class = "form-control"})
</div>
