@model Diploma.WebApi.Models.GroupType.CreateGroupTypeDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-container container-fluid" >
    <h3 class="text-center">Добавление дома</h3>
    
    <form asp-action="CreateGroupType" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Name, "Название типа группы")
                @Html.TextBoxFor(m => m.Name, "Укажите название типа группы", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary mt-4">Добавить тип группы</button>
        </div>
    
    </form>
</div>